.work__filter {
    justify-content: center;
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work__item {
    cursor: pointer;
    font-weight: var(--font-semi-bold);
    transition: .3s;
}

.work__item:hover {
    color: var(--hover-color);
}

.work__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work__card {
    position: relative;
    overflow: hidden;
}

.work__mask {
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    top: 0;
    height: 97%;
    width: 100%;
    transition: .3s;
    opacity: 0; 
}
.work__card:hover .work__mask {
    opacity: 0.9;
}

.work__categoty {
    color: var(--body-color);
    font-size: var(--smaller-font-size);
    background-color: var(--hover-color);
    border-bottom-left-radius: .98rem;
    border-bottom-right-radius: .98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;
}

.work__title {
    color: var(--body-color);
    font-size: var(--normal-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}

.work__button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    background-color: var(--hover-color);
    line-height: 42px;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    display: block;
    transition: .3s;
    opacity: 0;
}

.work__button > i {
    color: var(--body-color);
}

.work__card:hover .work__button{
    opacity: 1;
}

.work__card:hover .work__title,
.work__card:hover .work__categoty {
    opacity: 1;
    transform: translateY(0);
}