.skills__container- {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    justify-content: center;
}
.skills__content- {
    background-color: var(--body-color);
    border: 1px solid var(--hover-color);
    padding: 2rem 4rem;
    border-radius: 1.25rem;
 }

.skills__title- {
    font-size: 1.5rem;
    font-weight: var(--font-medium);
    text-align: center;
    margin-bottom: var(--mb-1-5);
 }

.skills__box- {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.skills__group- {
    display: grid;
    align-items: flex-start;
    row-gap: 1rem;
}

.skills__data- {
    display: flex;
    column-gap: 0.5rem;
}

.skills .uil-check-circle {
    font-size: 1rem;
    color: var(--title-color);
}
.skills__name- {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}

.skills__level- {
    font-size: 0.75rem;
}

/* skills img */

.s__container {
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    justify-content: center;
}
.s__imgs {
    display: flex;
    justify-content: center;
}

.s__img {
    width: 100px;
}


@media screen and (max-width: 992px) {
    .skills__container- {
        grid-template-columns: max-content;
        row-gap: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .skills__container- {
        grid-template-columns: 1fr;
    }

    .skills__content- {
        padding: 1.5rem;
    }
}

@media screen and (max-width: 350px) {
    .skills__group- {
        column-gap: 1.25rem;
    }

    .skills__name- {
        font-size: var(--small-font-size)
    }
}